extends layouts/main

block content
    .post__container
        .info__container
            h1=post.title
            h3=post.createdAt
            h3=post.playTime
            h3=post.location
        .map__container
        p=post.description
        
            
            

