extends layouts/main

block content
    .post__container
        .info__container
            h1=post.title
            h3=post.createdAt
            h3=post.playTime
            input(type="hidden", id="latitude" value=post.latitude)
            input(type="hidden", id="longitude" value=post.longitude)
        .map__container(style="width:500px;height:400px;")
            #map(style="width:500px;height:400px;")
        p=post.description
        
        if String(loggedUser._id) === String(post.creator)
            button.button--edit
                a(href=routes.editRecruit(post.id)) Edit Recruit
            button.button--delete    
                a(href=routes.deleteRecruit(post.id)) Delete Recruit
        else if post.volunteers.find(me => String(me) === String(loggedUser._id))
            button.button--cancel
                a(href=routes.cancelVolunteer(post.id)) Cancel 
        else
            button.button--volunteer
                a(href=routes.volunteer(post.id)) Volunteer
        h3 #{post.volunteers.length} / #{post.recruitNum}
        script(src="/script/recruitDetailMap.js")
