extends layouts/main

block content
    .post__container
        .info__container
            h1=post.title
            h3=post.createdAt
            h3=post.playTime
            h3=post.location
        .map__container
        p=post.description
        
        if loggedUser
            button.button--edit
                a(href=routes.editRecruit(post.id)) Edit Recruit
            button.button--delete    
                a(href=routes.deleteRecruit(post.id)) Delete Recruit
        
            

